div.contacts-container {
    min-height: 101vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5em;
    text-align: center;
}

div.contacts-group {
    display:flex;
    justify-content: space-evenly;
    width: 100%;
    font-size:35px;
    margin-top: 30px;
}

div.contacts-sidebar {
    width: 40px;
    position: fixed;
    bottom: 0px;
    right: auto;
    z-index: 10;
    width: 13%;
    color: #61d3a3;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeInLeft .3s cubic-bezier(0.645, 0.045, 0.355, 1) .6s forwards;
    opacity: 0;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

ul.contacts-banner {
    font-size: 40px;
    margin: 10%;  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul.contacts-sidebar-list {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

ul.contacts-sidebar-list::after{
    content: "";
    display: block;
    width: 1px;
    height: 100px;
    background-color: #61d3a3;
    margin: 0px auto;
}

a.contacts-link {
    cursor: pointer;
    text-decoration: none;
    box-shadow: none;
    color: #61d3a3;
    transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

ul.contacts-sidebar-list a {
    opacity: 0;
    display: inline-block;
    padding: 20px;
    text-decoration-skip-ink: auto;
    position: relative;
}

li.contacts-item a.contacts-link span {
    transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

li.contacts-item a.contacts-link:hover span {
    color:#d0efff;
    transform: translateY(-5px);
}

div.contacts-mobile {
    display: none;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.form-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

input, textarea {
    width: 100%;
    font-size: 20px;
    font-family: 'Spartan', sans-serif;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: #d0efff;
    background: none;
    border: none;
    border-bottom: 2px solid rgba(208, 239, 255, .4);
    margin: 20px;
}

input.error-highlight, textarea.error-highlight {
    border-bottom: 2px solid rgb(170, 43, 43);
}

input:focus, textarea:focus {
    outline: none;
    border-bottom: 2px solid #61d3a3;
}

input {
    height: 50px;
}

button#input-4 {
    color: rgb(97, 211, 163);
    background-color: transparent;
    font-size: 15px;
    font-family: "Consolas", "Menlo", "Roboto Mono", sans-serif;
    cursor: pointer;
    border: 2px solid #61d3a3;
    border-radius: 5px;
    text-decoration: none;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 10px 20px;
}

button#input-4:hover{
    color: black;
    background-color: rgb(97, 211, 163);
}

@media screen and (max-width: 841px) {
    div.contacts-sidebar {
        display: none;
    }

    div.contacts-mobile {
        display:block;
    }
}

@media screen and (min-width:841px) {
    div.form-row {
        flex-direction: row;
    }
}