div.contacts-container {
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.contacts-text {
    margin-left: 5%;   
}

div.contacts-group {
    display:flex;
    justify-content: space-evenly;
    width: 100%;
    font-size:35px;
    margin-top: 30px;
}
