div.header-container {
    min-height: 100vh;
    /*background-image: linear-gradient(135deg, #080038, #3a003a);*/
    /*background-image: linear-gradient(135deg, #0c0052, #05001a);*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*background: linear-gradient(to left, #0d071e 0%, rgba(34,14,93,0.25) 50%);
    /*background-color: #18044e;
    background-color: #152238;*/
    width: 100%;
    z-index : 10;
}

/*
div.logo-svg {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 2;
}

svg {
    max-height: 300px;
}

path {
    fill: #ffffff;
    fill-opacity: 0;
    stroke-width: 1px;
    stroke: rgb(0, 143, 199);
    animation: fill-in 2s linear forwards;
}

@keyframes fill-in {
    100% {
        fill-opacity: 100%;
    }
}

path.dashed {
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
    animation: draw 2s linear forwards;
}  

@keyframes draw {
    to {
        stroke-dashoffset: 0; 
    }
}
*/

div.welcome {
    z-index: 1;
    position: absolute;
}

h1.welcome-hero {
    font-weight: lighter;
    font-family: 'Consolas', 'Menlo', 'Droid Sans Mono', monospace;
    font-size: 20px;
    opacity: 0;
    /*animation: fadeInLeft .3s cubic-bezier(0.645, 0.045, 0.355, 1) .1s forwards;*/
    color: #61d3a3;
}

h2.welcome-name {
    font-weight: lighter;
    font-size: 32px;
    margin-top: 2%;
    margin-bottom: 2%;
    opacity: 0;
    color: white;
    /*animation: fadeInLeft .3s cubic-bezier(0.645, 0.045, 0.355, 1) .2s forwards;*/
}

p.welcome-info {
    font-size: 20px;
    opacity: 0;
    /*animation: fadeInLeft .3s cubic-bezier(0.645, 0.045, 0.355, 1) .3s forwards;*/
    color: #d0efff;
}

p.welcome-sectors {
    font-size: 20px;
    opacity: 0;
    /*animation: fadeInLeft .3s cubic-bezier(0.645, 0.045, 0.355, 1) .4s forwards;*/
    color: #d0efff;
}

p.welcome-sectors span {
    padding: 5px;
}

p.welcome-sectors span:not(:first-child) {
    padding-left: 20px;
}

p.welcome-sectors span:not(:last-child) {
    border-right: 2px solid #61d3a3;
    padding-right: 20px;
}



@media all and (min-width: 841px) {
    h2.welcome-name {
        font-size: 45px;
    }
    
    p.welcome-info {
        font-size: 25px;
    }
}

canvas {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    /*animation: fadeInRight .3s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;*/
}