div.projects-container {
    min-height: 100vh;
}

div.projects {
    max-width: 1300px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px auto;
    padding: 150px 0px 0 0;
}

div.project {
    width: 100%;
    align-items: center;
    margin-bottom: 100px;
    background-color: rgb(16, 33, 56);
    box-shadow: 5px 5px 5px rgba(21, 23, 26, .1);
}

div.project-thumbnail img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    filter: blur(2px) brightness(60%);
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

div.project-info {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    position: relative;
    text-align: left;
    padding: 0;
    font-size: 15px;
}

div.project-thumbnail {
    opacity: .3;
    border-radius: 5px;
    filter: brightness(60%);
    position: relative;
    z-index: 1;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

div.project-text-wrapper {
    padding: 10px;
    z-index: 10;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

div.project:nth-of-type(2n+1) div.project-info {
    text-align: right;
}

h4 {
    color: #61d3a3;
    font-family: 'Consolas', 'Menlo','Droid Sans Mono', monospace;
    font-size: 18px;
    border-bottom: solid 1px #61d3a3;
    font-weight: lighter;
}

div.project-tech {
    margin-top: 10px;
    word-wrap: break-word;
}

span.tech {
    font-family: 'Consolas', 'Menlo','Droid Sans Mono', monospace;
    font-size: 12px;
    color: #929292;
}

span.tech:not(:last-child)::after {
    content: "";
    padding: 12px;
}

div.project-more {
    margin-top: 15px;
    font-size: 20px;
}

div.project-more a {
    box-shadow: none;
    color: #61d3a3;
}

div.project-more svg {
    padding: 20px 0 20px;
    transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);
    height: 20px;
}

div.project-more svg:hover {
    color:#d0efff;
    transform: translateY(-5px);
}

/*buttons on carousel*/
div.next-button, div.prev-button {
    position: absolute;
    bottom: 47%;
    display: none;
}

div.next-button {
    right: 0px;
}

div.prev-button {
    left: 0px;
}

img.hidden {
    display: none;
    visibility: hidden;
    width: 0;
}

span.next, span.prev {
    position: relative;
    display: block;
    width: 12px;
    height: 2px;
    margin: 6px;
    background-color: white;
}

div.next-button span:first-child, div.prev-button span:last-child {
    transform: rotate(45deg);
}

div.next-button span:last-child, div.prev-button span:first-child {
    transform: rotate(-45deg);
}


@media screen and (min-width: 842px) {
    div.project-info {
        padding: 30px;
    }
    
    div.project-thumbnail {
        grid-column: 3 / -1;
        /*grid-column: 2 / -1;*/
        transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    div.project:nth-of-type(2n+1) div.project-thumbnail {
        grid-column: 1 / 5;
       /*grid-column: 1 / 3;*/
    }

    div.project-text-wrapper {
        grid-column: 1 / 3;
        /*grid-column: 1 / 1;*/
    }
    div.project:nth-of-type(2n+1) div.project-text-wrapper {
       /* grid-column: 3 / -1;*/
        grid-column: 5 / -1;
    }

    div.project-thumbnail img {
        filter: blur(0px);
    }

    div.project-thumbnail:hover {
        filter: brightness(100%);
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    div.project-thumbnail:hover > div, div.next-button:hover, div.prev-button:hover {
        padding: 5px;
        display: block;
        cursor: pointer;
        background-color: rgba(21, 23, 26, .6);
        opacity: 1;
    }

    img.hidden {
        opacity: .4s;
        width: 0;
        height:auto;
        visibility: hidden;
        display: none;
        transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
}

@media screen and (min-width: 1000px) {
    div.project-thumbnail {
        grid-column: 5 / -1;
        /*grid-column: 2 / -1;*/
        transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    div.project:nth-of-type(2n+1) div.project-thumbnail {
        grid-column: 1 / 3;
       /*grid-column: 1 / 3;*/
    }

    div.project-text-wrapper {
        grid-column: 1 / 5;
        /*grid-column: 1 / 1;*/
    }
    div.project:nth-of-type(2n+1) div.project-text-wrapper {
       /* grid-column: 3 / -1;*/
        grid-column: 3 / -1;
    }



}